#primary-content {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgb(223, 223, 223);
    margin-top: 25px;
}

.erroreCF {
    border: 1px solid red;
}

#contatore-contatti {
    background-color: rgb(30, 189, 30);
    border: 1px solid black;
    border-radius: 5px;
}

.cf {
    color: black;
    background-color: rgb(150, 222, 135);
    padding: 10px;
    font-weight: 800;
    border-radius: 5px;
}

ul#myList li:hover {
    background-color: rgb(165, 199, 243);
    
}

ul#myListSearch li:hover {
    background-color: rgb(165, 199, 243);
}

#myList {
    cursor: pointer;
    border-radius: 5px;
}

#myListSearch {
    cursor: pointer;
    border-radius: 5px;
}